/**************************************************************TAG SELECTORS*************************************************************/

body {background-color: #e6e6f3;}

h1 {color: rgb(84, 33, 131);}
h2 {color: rgb(84, 33, 131);}


/**************************************************************CLASS SELECTORS***********************************************************/

.circular {border-radius: 100%;}

.Gympic1 {height: 500px;}
.Travelpic1 {height: 500px;}

/**************************************************************ID SELECTORS***********************************************************/